*.

# configs
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.gitignore
!.lintstagedrc.json
!.prettierrc.json

# generated
.DS_Store
npm-debug.log
node_modules
dist

# testing
coverage
