*.

# configs
!.babelrc
!.editorconfig
!.eslintignore
!.eslintrc
!.gitattributes
!.gitignore
!.lintstagedrc.json
!.prettierrc.json

# demo
dist

# generated
node_modules
.DS_Store
npm-debug.log

# testing
coverage
